#overlay {
	direction: rtl;
	right: 10px;
	left: 0px;
}

#score {
	transform: translate(2px, 0);
}

#difficulty, #bpm {
	direction: ltr;
}

#title, #subtitle, #artistsong, #artistlevel {
	text-shadow: -2px 2px 2px #000000;
}

#difficulty {
	box-shadow: -2px 2px 2px #000000;
}